.nav-bar-box {
    position: sticky;
    width: 336px;
    top : 0px;

    font-size: 20px;
    letter-spacing: -0.4px;
    color: #707070;
    vertical-align: top;
}

.nav-bar {
    position: relative;
    top: 25px;
    left: 30px;

    width: 306px;
    height: 650px;

    background: #F9FAFC 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 45px #BCBDBE52;
    border-radius: 20px;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 70px;
    z-index: 1000;
}

.nav-logo-img {
    margin: 0px;
}

.nav-contents-box,
.logout-btn {
    display: flex;
    align-items: center;
    position: relative;
    top:10px;

    width: 306px;
    height: 62px;

    cursor: pointer;
}

.nav-bg {
    position: absolute;
    width: 306px;
    height: 62px;

    background: transparent linear-gradient(269deg, #747474 0%, #4F7D6D 100%) 0% 0% no-repeat padding-box;
    opacity: 0;
    z-index: 1;
}

.nav-contents-text,
.logout-text {
    padding-left: 40px;

    font: normal normal bold 25px/13px Spoqa Han Sans Neo;
    letter-spacing: 0px;
    color: #707070;
    z-index: 2;
}

.nav-contents-box.selected {
    .nav-contents-text {
        color: white;
    }

    .nav-bg {
        opacity: 1;
        transition: all 0.5s ease-in-out;
    }
}

.logout-btn {
    position: relative;
    top: 150px;

    font: normal normal medium 20px/13px Spoqa Han Sans Neo;
    letter-spacing: 0px;
    color: #707070;
}